*, html, body{
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
} 

/**Landing/Home**/
.landing-wrapper{
    height: 100vh;
    background-color: #000;
}

.landing-text{
    color: #fff;
}

.landing-text h1{
    font-size: 35px;
    font-weight: 600;
}

.landing-text h2{
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
}


    /**Image Carousel**/
    .carousel{
        perspective: 700px;
        overflow: hidden;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
	}
	
	figure {
		margin: 0;
		transform-style: preserve-3d;
		transition: transform 0.72s;
    }
	
    .carousel-img {
		width: 42vh;
        height: 100%;
		box-sizing: border-box;
		padding: 0 0px / 2;
    }	

    .carousel-img:not(:first-of-type) 
    {
		position: absolute;
		left: 0;
		top: 0;
	}
    
    button{
        z-index: 1;
        cursor: pointer;
        margin: 0 100px;
        font-weight: 200;
        font-size: 21px;
                
        color: #fff;
        border-radius: 25px;
        background-color: rgb(255,255,255,0.1);
        border: 1px solid white;
        padding: 0px 12px;
    }

.landing-wrapper p{
    color:#fff;
    margin-top: 5vh;
    font-size: 19px;
    font-weight: 200;
}

#landing .icon{
    margin-top: 1vh;
    margin-left: 3vh;
    margin-right: 3vh;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#landing .icon:hover{
    color: rgba(255, 255, 255, 0.664);
}

/**Quote**/
.quote-wrapper{
    height: 45vh;
    background-color: #fff;
}

.quote-wrapper h1{
    font-family: 'Roboto Serif', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.quote-wrapper h2{
    margin-top: 2vh;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 16px;
    font-weight: 200;
}
/**About Me**/
.about-wrapper{
    padding-top: 10vh;
    padding-bottom: 3vh;
    min-height: 100vh;
    background-color: #000;
}

.title{
    color: #fff;
    font-weight: 300;
    font-size: 30px;
}

.about-panel-wrapper{
    width: 100%;
}

.about-panel{
    width: 55vh;
    height: 73vh;
    margin: 6vh;
}

    /**Panel 1**/
    .bar-1-1{
        height: 13px;
        width: 100%;
        border-top-left-radius: 10vh;
        border-top-right-radius: 10vh;
        background-color: rgba(255, 255, 255, 0.384);
    }

    .bar-1-2{
        z-index: 1;
        height: 3vh;
        width: 100%;
        box-shadow: -10px 10px 15px -10px rgb(0, 0, 0);
        background-color: rgba(255, 255, 255, 0.555);
    }

    .bar-header{
        height: 3vh;
        width: 18vh;
        background-color: rgb(44, 44, 44);
    }

    .bar-header p{
        color: #fff;
        font-size: 13px;
        font-weight: 200;
    }

    .exit-bar{
        margin-left: 5vh;
    }

    .panel-1-inside-wrapper{
        height: 68vh;
        width: 100%;
        background-color: rgb(44, 44, 44);
        overflow-y: scroll;
    }
    
    .panel-1-text{
        margin-left: 2vh;
        padding-top: 1vh;
        padding-bottom: 4vh;
        font-size: 14px;
        font-weight: 300;
    }

    .tab{
        margin-left: 4vh;
    }

    .contact-link{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(101, 221, 101);
        text-decoration: none;
        border-bottom: 1px solid rgb(101, 221, 101);
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }

    .contact-link:hover{
        color: rgb(14, 253, 14);
    }

    .purple{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(236, 27, 236);
    }

    .grey{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(160, 160, 160);
    }

    .blue{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(0, 140, 255);
    }
    
    .tan{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(243, 175, 86);
    }

    .red{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(255, 6, 6);
    }

    .green{
        font-family: 'Courier New', Courier, monospace;
        color: rgb(101, 221, 101);
    }

    /**Panel 2**/
    .about-panel-2-wrapper{
        background-color: rgba(255, 255, 255, 0.945);
        border-radius: 2vh;
    }

    .about-panel-2-wrapper h1{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 7vh;
        height: 0;
    }

    .panel-bar
    {
        width: 40vh;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.945);
        border-radius: 50px;
    }

    .panel-2-text{
        width: 90%;
        height: 60vh;
    }

    .panel-2-element{
        height: 33%;
        width: 100%;
    }

    .panel-2-element h2{
        font-size: 15px;
        font-weight: 700;
        font-style: italic;
        margin-top: 1vh;
    }

        /**Language**/
        .language-box{
            height: 13vh;
            width: 23vh;
        }

        .panel-2-header{
            font-size: 16px;
            font-weight: 400;
        }

        .panel-2-subheader{
            font-size: 11px;
            font-weight: 400;
            font-style: italic;
        }
        
        .panel-2-body{
            font-size: 10px;
            font-weight: 300;
        }

        /**Music**/
        .music-box{
            height: 15vh;
            width: 15vh;
        }

        .music-header{
            font-weight: 400;
        }

        /**Track**/
        .track-wrapper{
            width: 90%;
            margin-top: 2vh;
        }

/**Education**/
.education-wrapper{
    min-height: 100vh;
    background-color: #000;
    padding-bottom: 3vh;
}

.education-panel-wrapper{
    width: 100%;
}

.education-panel{
    width: 55vh;
    height: 73vh;
    margin: 6vh;
}

    /**Panel 3**/
    .panel-3-wrapper{
        background-color: rgba(255, 255, 255, 0.945);
        border-radius: 2vh;
        width: 100%;
        height: 100%;
    }

    .school-logo{
        width: 14vh;
        height: 10vh;
    }

    .panel-3-header{
        width: 90%;
    }

    .panel-3-school-header{
        width: 30vh;
        height: 15vh;
        margin-left: 2vh;
    }

    .panel-3-school-header h3{
        font-size: 18px;
        font-weight: 700;
    }

    .panel-3-school-header p{
        font-size: 14px;
        font-weight: 500;
    }

    .panel-3-school-header p:last-child{
        font-size: 13px;
        font-weight: 400;
    }

    .italic{
        font-style: italic;
    }

    .panel-3-text{
        width: 90%;
        height: 54vh;
    }

    .school-lbr{
        height: 2vh;
        width: 100%;
    }

    .course-name{
        font-weight: 300;
    }

    .panel-3-text h5{
        font-weight: 600;
        font-size: 15px;
    }

    .panel-3-text p{
        font-size: 14px;
    }

    /**Panel 4**/
    .panel-4-wrapper{
        background-color: rgba(255, 255, 255, 0.945);
        border-radius: 2vh;
        width: 100%;
        height: 100%;
    }

    .panel-4-text-wrapper{
        margin-top: 3vh;
        height: 57vh;
        width: 90%;
    }

    .panel-4-element{
        height: 33%;
        width: 100%;
    }

        /**Dual**/
        .dual-element{
            width: 20vh;
            height: 12vh;
            margin-left: 1vh;
            margin-right: 1vh;
        }

        .dual-element h5{
            font-size: 15px;
            font-weight: 500;
        }

        .dual-element h6{
            font-size: 10px;
            font-weight: 500;
            text-align: center;
            font-style: italic;
            margin-top: 2px;
            margin-bottom: 5px;
        }

        .dual-element p{
            text-align: center;
            font-size: 10px;
            font-weight: 300;
        }

        .skill-subtext{
            height: 8vh;
        }

        .panel-4-bar{
            width: 40vh;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.945);
            border-radius: 50px;
            margin-bottom: 2vh;
        }

/**Projects**/
.project-wrapper{
    min-height: 100vh;
    background-color: #000;
}

.project-wrapper-box{
    margin-top: 3vh;
    min-height: 80vh;
    width: 100%;
    max-width: 150vh;
}

.project{
    border-radius: 5vh;
    background-color: #fffffff3;
    position: relative;
	height: 280px;
	width: 280px;
	margin: 3%;
}

.project-img {
	width: 200px;
	height: 200px;
	border-radius: 6px;
}

.project-description {
    border-radius: 5vh;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F8F8F8;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .4s, visibility .4s;
}

.project:hover .project-description {
	visibility: visible;
	opacity: 0.85;
}

.project-description:hover {
	opacity: 1;
}

.img-description {
    font-family: 'Lato', sans-serif;
    width: 100%;
	transition: .5s;
	color: #383838;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.img-description h2{
	font-weight: 700;
	line-height: 40px;
    font-size: 18px;
}

.img-description p{
	font-weight: 400;
	line-height: 20px;
    font-size: 13px;
}

.img-description:hover {
	opacity: 1;
}

/**Footer**/
.footer-wrapper{
    background-color: #fff;
    height: 20vh;
}

.footer-wrapper p{
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
}

.bar{
    height: 2px;
    border-radius: 5vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.925);
    margin-bottom: 10vh;
}

.bar:last-child{
    margin-top: 7vh;
}

.footer-wrapper .icon{
    color:rgb(0, 0, 0);
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#footer .icon:hover{
    color: rgba(0, 0, 0, 0.664);
}



/**Font Awesome Icons**/
ul.icons {
    cursor: default;
    list-style: none;
    padding: 0;
}

    ul.icons a li {
        display: inline-block;
    }
        ul.icons li{
            color: #fff;
        }

        ul.icons li .icon:before {
            font-size: 18px;
        }

.icon {
    display: block;
    text-decoration: none;
    position: relative;
}

.icon:before {
    display: inline-block;
    list-style: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 500;
    text-decoration: none;
}

.icon.solid:before {
    font-weight: 100;
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}
